The desktop-first pre-defined media queries:
/* 2xl */
@media (max-width: 1536px) {}

/* xl */
@media (max-width: 1280px) {}

/* lg */
@media (max-width: 1024px) {}

/* md */
@media (max-width: 768px) {}

/* sm */
@media (max-width: 640px) {}

/* xs */
@media (max-width: 475px) {}

Mobile container utility class:
.container {
  width: 100%;
  margin-left: auto;
  margin-right: auto;
  padding-left: 0.5rem;
  padding-right: 0.5rem;
}

/* xs */
@media (min-width: 475px) {
  .container {
    max-width: 475px;
  }
}

/* sm */
@media (min-width: 640px) {
  .container {
    max-width: 640px;
  }
}

/* md */
@media (min-width: 768px) {
  .container {
    max-width: 768px;
  }
}

/* lg */
@media (min-width: 1024px) {
  .container {
    max-width: 1024px;
  }
}

/* xl */
@media (min-width: 1280px) {
  .container {
    max-width: 1280px;
  }
}

/* 2xl */
@media (min-width: 1536px) {
  .container {
    max-width: 1536px;
  }
}

body {
    background-image: linear-gradient(to top, #fad0c4 0%, #ffd1ff 100%);
    font-family: Futura, sans-serif;
    margin: 0;
    padding: 0; 
}

header {
    background-color: linear-gradient(to top, #fad0c4 0%, #ffd1ff 100%);
    color: #0e0d0d;
    padding: 20px;
}

header h1 {
    margin: 0;
}

nav ul {
    list-style-type: none;
    padding: 0;
}

nav ul li {
    display: inline;
    margin-right: 20px;
}

nav ul li a {
    text-decoration: none;
    color: #0e0d0d;
}

.main-content {
    padding: 20px;
}

footer {
    background-color:linear-gradient(to top, #fad0c4 0%, #ffd1ff 100%);
    color: #fff;
    text-align: center;
    padding: 20px;
}

.my-image-grab{
  border: 2px solid;
  padding: 25px;
  height: auto;
  width: 200px;
  float: right;
}